<div class="uk-card uk-card-default uk-card-body uk-card-hover uk-animation-fade uk-margin-bottom" *ngFor="let picture of pictures">
  <div class="uk-inline">
    <div class="uk-overflow-hidden uk-border-rounded">
      <img src="{{picture.src}}" [attr.uk-scrollspy]="'cls: uk-animation-kenburns; repeat: true'">
    </div>
    <div class="uk-overlay uk-position-bottom uk-light uk-padding-small">
      <ul class="uk-iconnav uk-iconnav-vertical">
        <li><div><a [attr.uk-icon]="'icon: camera'" [attr.uk-tooltip]="'title: Shot on ' + picture.camera + '; pos: right; delay: 500'" routerLink="../camera/{{picture.cameraId}}"></a></div></li>
        <li><div [attr.uk-lightbox]="''"><a [attr.uk-icon]="'icon: expand'" [attr.uk-tooltip]="'title: Show in fullscreen; pos: right; delay: 500'" href="{{picture.src}}"></a></div></li>
        <li><div><a [attr.uk-icon]="'icon: info'" [attr.uk-tooltip]="'title: Details; pos: right; delay: 500'" [attr.uk-toggle]="'target: #details-' + picture.id"></a></div></li>
      </ul>
    </div>
    <div id="details-{{picture.id}}" [attr.uk-modal]="''">
      <div class="uk-modal-dialog uk-modal-body uk-border-rounded">
        <button class="uk-modal-close-default" type="button" [attr.uk-close]="''"></button>
        <h2 class="uk-modal-title">Details</h2>
        <table class="uk-table uk-table-divider">
          <thead>
          <td class="uk-text-muted uk-text-nowrap uk-width-1-5">Shot on</td>
          <td>{{picture.camera}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">Resolution</td>
          <td>{{picture.resolution}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">ISO</td>
          <td>{{picture.iso}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">Aperture</td>
          <td>{{picture.aperture}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">Exposure</td>
          <td>{{picture.exposure}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">Focal length</td>
          <td>{{picture.focal}}</td>
          </thead>
          <thead>
          <td class="uk-text-muted uk-text-nowrap">Flash</td>
          <td>{{picture.flash}}</td>
          </thead>
        </table>
      </div>
    </div>
  </div>
</div>
