<div class="uk-container uk-container-xsmall uk-margin-bottom uk-margin-top uk-animation-fade">
  <img *ngIf="index === 0" alt="Home" class="uk-align-center" src="assets/code.svg" style="max-height: 290px; height: auto; width: auto;"/>
  <img *ngIf="index === 1" alt="Home" class="uk-align-center" src="assets/street.svg" style="max-height: 290px; height: auto; width: auto;"/>
  <img *ngIf="index === 2" alt="Home" class="uk-align-center" src="assets/social.svg" style="max-height: 290px; height: auto; width: auto;"/>
  <img *ngIf="index === 3" alt="Home" class="uk-align-center" src="assets/developer.svg" style="max-height: 290px; height: auto; width: auto;"/>
</div>
<hr class="uk-divider-icon">
