<app-title-image [selected]="this.router.url"></app-title-image>

<div id="content-container" class="uk-container uk-container-xsmall uk-margin-large-bottom">
  <ul class="uk-breadcrumb uk-margin-bottom">
    <li><a [ngClass]="{'uk-button-text': this.router.url !== '/home', 'uk-text-primary': this.router.url === '/home' }" routerLink="/home">Home</a></li>
    <li><a [ngClass]="{'uk-button-text': this.router.url !== '/projects', 'uk-text-primary': this.router.url === '/projects' }" routerLink="/projects">Projects</a></li>
    <li><a [ngClass]="{'uk-button-text': this.router.url !== '/accounts', 'uk-text-primary': this.router.url === '/accounts' }" routerLink="/accounts">Accounts</a></li>
    <li><a [ngClass]="{'uk-button-text': this.router.url !== '/photography', 'uk-text-primary': this.router.url === '/photography' }" routerLink="/photography">Photography</a></li>
    <li><a [ngClass]="{'uk-button-text': this.router.url !== '/changelog', 'uk-text-primary': this.router.url === '/changelog' }" routerLink="/changelog">Changelog</a></li>
  </ul>

  <router-outlet></router-outlet>

  <div class="uk-text-center">
    <a class="uk-animation-fade" [attr.uk-totop]="''" [attr.uk-scroll]="''"></a>
  </div>
</div>
