<div class="uk-card uk-card-body uk-card-default uk-card-hover uk-margin-bottom uk-animation-fade">
    <h3 class="uk-card-title">Education</h3>
    <div class="uk-flex uk-margin-bottom">
      <span class="uk-label uk-label-success uk-text-center uk-width-small uk-flex-none uk-margin-auto-bottom">2009 - 2013</span>
      <div class="uk-margin-left">Primary school in Pollham</div>
    </div>
    <div class="uk-flex uk-margin-bottom">
      <span class="uk-label uk-label-success uk-text-center uk-width-small uk-flex-none uk-margin-auto-bottom">2013 - 2017</span>
      <div class="uk-margin-left">Upper secondary school in Dachsberg</div>
    </div>
    <div class="uk-flex uk-margin-bottom">
      <span class="uk-label uk-text-center uk-width-small uk-flex-none uk-margin-auto-bottom">2017 - NOW</span>
      <div class="uk-margin-left">Higher technical and vocational college in Grieskirchen</div>
    </div>
</div>

<div class="uk-card uk-card-body uk-card-default uk-card-hover uk-margin-bottom uk-animation-fade">
  <h3 class="uk-card-title">Job history</h3>
  <div class="uk-flex uk-margin-bottom">
    <span class="uk-label uk-label-success uk-text-center uk-flex-none">2020</span>
    <div class="uk-margin-left uk-width-expand">
      <ul [attr.uk-accordion]="''">
        <li>
          <a class="uk-accordion-title">IT Internship at XXXLutz headquarters in Wels</a>
          <div class="uk-accordion-content">
            <span class="uk-label uk-label-success uk-text-center uk-align-right uk-margin-small-bottom">8 weeks</span>
            <span class="uk-label uk-text-center uk-margin-small-right uk-margin-small-bottom uk-background-muted uk-text-muted">MySQL</span>
            <span class="uk-label uk-text-center uk-margin-small-right uk-margin-small-bottom uk-background-muted uk-text-muted">Bash</span>
            <span class="uk-label uk-text-center uk-margin-small-right uk-margin-small-bottom uk-background-muted uk-text-muted">Powershell</span><br>
            <p class="uk-text uk-margin-large-right">
              The tasks involved writing Bash and Powershell scripts for data retrieval from a MySQL database, Windows Active Directory and Excel tables. Additionally I worked out an Entity-Relationship model for employee data and implemented it in a MySQL database.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
